 <body style="background:#DBE4EA;">
        
  

<div class="card bg-dark text-white">
    <img src="../assets/servicetype.jpg" class="card-img" alt="...">
    <div class="card-img-overlay ">
        <h3 class="card-title text-center mt-3" style="color: black;">Services</h3>

    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/buisnessservice.jpg" alt="image">
                    </div>
                    <div class="services__item__text">
                        <h4><span>01.</span> Business Loan</h4>
                        <p>However, there is much more to branding</p>
                        <a href="#">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/carservice.jpg" alt="image">
                    </div>
                    <div class="services__item__text">
                        <h4><span>02.</span> Car Loan</h4>
                        <p>However, there is much more to branding</p>
                        <a href="#">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/homeservice.jpg" alt="image">
                    </div>
                    <div class="services__item__text">
                        <h4><span>03.</span> Home Loan</h4>
                        <p>However, there is much more to branding</p>
                        <a href="#">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/creditservice.jpg" alt="image">
                    </div>
                    <div class="services__item__text">
                        <h4><span>04.</span> Credit &amp; Debit Card</h4>
                        <p>However, there is much more to branding</p>
                        <a href="#">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/educationservice.jpg" alt="image">
                    </div>
                    <div class="services__item__text">
                        <h4><span>05.</span> Education Loan</h4>
                        <p>However, there is much more to branding</p>
                        <a href="#">Find Out More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <div class="services__item__img">
                        <img src="../assets/healthservice.jpg" alt="image">
                    </div>
                    <div class="services__item__text">
                        <h4><span>06.</span> Health &amp; Medical</h4>
                        <p>However, there is much more to branding</p>
                        <a href="#">Find Out More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer class="footer">

        <div class="container">
    
    
            <div class="row">
    
                <div class="col-lg-3 col-md-3">
    
                    <div class="footer_about">
    
                        <div class="footer_logo">
    
                            <img src="../assets/logo.png" alt="" height="150px">
    
    
                        </div>
                        <p style="color: rgb(255, 255, 255);">
                            Please remember though that how far you go is up to you. There is no substitute for your own
                            work and effort in succeeding in this business.</p>
    
    
    
    
    
                    </div>
    
    
    
    
    
    
    
    
                </div>
                <div id="foo" class="col-lg-3 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer_widget">
                        <h5 style="color: rgb(255, 255, 255);">Services</h5>
                        <div class="footer_widget">
                            <ul>
                                <li>Personal Loans</li>
                                <li>Business Loans</li>
                                <li>Online Cash Loans</li>
                                <li>Cash Advance</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
    
    
                <div id="foo" class="col-lg-3 offset-lg-1 col-md-6 col-sm-6 ">
                    <div class="footer_widget footer_widget-address">
                        <h5 style="color: rgb(255, 255, 255);">Open Hours</h5>
                        <p>We work all days a week, Please contact us for any inquiry.</p>
                        <ul>
                            <li>Monday-Friday: 11:00 am - 8:00 pm</li>
                            <li>Saturday: 10:00 am - 6:00 pm</li>
                            <li>Sunday: 11:00 am - 6:00 pm</li>
                        </ul>
                    </div>
                </div>
    
    
            </div>
    
    
    
    
        </div>
    
    </footer>

</body>