<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="sn-img">
                        <img src="../assets/news-450x350-2.jpg" />
                    </div>
                    <div class="sn-content">
                        <h1 class="sn-title">Now get Education Loan quickly.</h1>
                        <p>
                            ICICI Bank has launched a facility that will allow customers to get
                            instant sanction letter for education loans up to Rs 1 crore.
                            This facility enables lakhs of pre-approved customers to take education loans
                            in a fully digital process against their fixed deposits with the bank.
                            The Insta Education Loan facility can be used by the borrower to finance higher studies for
                            themselves or their children, siblings and grand-children in accredited colleges and
                            universities across the world. They can furn ..


                        </p>
                        <p>
                            "The 'Insta Education Loan' facility significantly improves customer convenience as they can
                            now generate the sanction letter themselves in just a few clicks using the Bank's internet
                            banking platform. Typically, it takes a few working days for a customer to get the sanction
                            letter of an education loan. Also, it does away with the need of having to visit a bank
                            branch and submitting a whole lot of documents," ICICI Bank stated in a press release.


                        </p>
                        <p>
                            "We believe that this facility surely brings in exceptional convenience to customers as they
                            can avail finance for higher studies without breaking their fixed deposit/ savings," said
                            Sudipta Roy, Head - Unsecured Assets, ICICI Bank.


                        </p>
                        <h3>How can you reduce the burden of education loan amid coronavirus pandemic?
                        </h3>
                        <p>
                            The coronavirus pandemic has hit just about everyone in some way or the other. People have
                            suffered pay cuts, many have been furloughed and countless more left unemployed. This has
                            happened because the bottom lines of many companies have taken a beating since March of this
                            year. Due to this household incomes have been thrown in disarray which has especially
                            effected those repaying loans.

                            All kinds of borrowers are in trouble now. For students and recent graduates, repayment of
                            education ..

                        </p>
                        <p>
                            What can existing education loan borrowers do?
                            If you are someone who is already servicing an education loan and are now finding it
                            difficult to repay it, the first thing you should do is to contact your lender and ask them
                            if your loan can be restructured.

                            In August 2020, the Reserve Bank of India (RBI) allowed a one-time restructuring of loans
                            without classifying them as NPAs to help companies and individuals manage the financial
                            stress caused by the Covid 19 pan ..


                        </p>
                        <h3>Diwali Dhamaka: SBI announces 25 bps concession on home loans


                        </h3>
                        <p>
                            MUMBAI: In a bid to improve borrower sentiment India’s largest lender State Bank of India
                            announced concession on home loan rates by as high as 25 basis points. SBI home loan
                            customers would get an interest concession of 20 bps for buying homes of above Rs. 75 lakhs.
                            Additional 5 bps concession will be for home loans applied through YONO and 5 bps interest
                            concession to women home buyers.

                            Customer will also be able to avail Credit Score based concession up to 10 bps for loans
                            above Rs 3 ..


                        </p>
                        <p>
                            “With SBI’s lowest interest on home loans, we believe this move will facilitate and
                            encourage home buyers to plan their dream house,” said CS Setty, MD (Retail & Digital
                            Banking), SBI. “With the nation all geared up to the post-Covid era, we are witnessing
                            increased customer demands and we at SBI will continue to offer lucrative benefits suiting
                            needs and requirements of the customers.”

                            State Bank of India has already announced a slew of special offers for its retail customers
                            with ..


                        </p>
                        <p>

                            Retail customers are availing the lowest interest rate starting from 7.5% on a car loan.
                            Gold loan and personal loan customers are also enjoying the benefits of lowest interest
                            rates of 7.5% and 9.6% respectively, this festive season.


                        </p>
                    </div>
                </div>
                <div class="sn-related">
                    <h2>Related News</h2>
                    <div class="row sn-slider">
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="../assets/news-350x223-1.jpg" />
                                <div class="sn-title">
                                    <a href="">Startups make getting education loans easier</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="../assets/news-350x223-2.jpg" />
                                <div class="sn-title">
                                    <a href="">How to save money for your higher education while working</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="../assets/news-350x223-3.jpg" />
                                <div class="sn-title">
                                    <a href="">What is education loan? Here's a guide</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="../assets/news-350x223-4.jpg" />
                                <div class="sn-title">
                                    <a href="">Smart things to know about education loan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h2 class="sw-title">In This Category</h2>
                        <div class="news-list">
                            <div class="nl-item">
                                <div class="nl-img">
                                    <img src="../assets/news-350x223-1.jpg" />
                                </div>
                                <div class="nl-title">
                                    <a href="">SC directs govt to implement its decision to forego interest on eight categories of loans</a>
                                </div>
                            </div>
                            <div class="nl-item">
                                <div class="nl-img">
                                    <img src="../assets/news-350x223-2.jpg" />
                                </div>
                                <div class="nl-title">
                                    <a href="">Why getting education loan has become tougher now</a>
                                </div>
                            </div>
                            <div class="nl-item">
                                <div class="nl-img">
                                    <img src="../assets/news-350x223-3.jpg" />
                                </div>
                                <div class="nl-title">
                                    <a href="">Does switching from one mutual fund scheme to another attract capital gains tax?</a>
                                </div>
                            </div>
                            <div class="nl-item">
                                <div class="nl-img">
                                    <img src="../assets/news-350x223-4.jpg" />
                                </div>
                                <div class="nl-title">
                                    <a href="">Three things a 25-year-old should know about investing</a>
                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="sidebar-widget">
                        <div class="tab-news">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="featured" class="container tab-pane active">
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-1.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Education loan: The government's Vidyalakshmi website will help you get one</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-2.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Study without paying a fee, pay back when you get a job</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-3.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Bank vs NBFC: Keep these factors in mind while taking an education loan</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-4.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">ZestMoney expands 0 per cent EMI offering to education</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-5.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Budgetary allocation for interest-free education loans to be hiked: Prakash Javdekar</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="popular" class="container tab-pane fade">
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-4.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">How to fund child's studies? Education loan better than mortgaging house, using savings</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-3.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Education loans the newest asset class in securitisation mart</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-2.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">5 smart things to know about tax breaks on education loan</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-1.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Nearly 9 per cent of education loans by PSBs turned bad in FY'18</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-450x350-2.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">SBI to put Rs 382 crore soured education loans on sale</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="latest" class="container tab-pane fade">
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-3.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Rising NPAs in education loan add to banks' stress</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-4.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">A student’s guide to taking and repaying an education loan</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-5.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Education loan of over Rs 4 lakh cannot be demanded as right: HC</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-4.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Tax Optimiser: How Wahi can cut tax by Rs 94,000 via education loan, NPS</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="../assets/news-350x223-3.jpg" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">How education loan can help your child study abroad and save tax</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="sidebar-widget">
                        <h2 class="sw-title">Tags Cloud</h2>
                        <div class="tags">
                            <a href="">Home</a>
                            <a href="">Personal</a>
                            <a href="">Credit Cards</a>
                            <a href="">Home-Equity Loans</a>
                            <a href="">Small Business Loans
                            </a>
                            <a href="">Education Loan</a>
                            <a href="">Loan Against Property
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single News End-->
<footer class="footer">

    <div class="container">


        <div class="row">

            <div class="col-lg-3 col-md-3">

                <div class="footer_about">

                    <div class="footer_logo">

                        <img src="../assets/logo.png" alt="" height="150px">


                    </div>
                    <p style="color: rgb(255, 255, 255);">
                        Please remember though that how far you go is up to you. There is no substitute for your own
                        work and effort in succeeding in this business.</p>





                </div>








            </div>
            <div id="foo" class="col-lg-3 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer_widget">
                    <h5 style="color: rgb(255, 255, 255);">Services</h5>
                    <div class="footer_widget">
                        <ul>
                            <li>Personal Loans</li>
                            <li>Business Loans</li>
                            <li>Online Cash Loans</li>
                            <li>Cash Advance</li>
                        </ul>
                    </div>
                </div>
            </div>



            <div id="foo" class="col-lg-3 offset-lg-1 col-md-6 col-sm-6 ">
                <div class="footer_widget footer_widget-address">
                    <h5 style="color: rgb(255, 255, 255);">Open Hours</h5>
                    <p>We work all days a week, Please contact us for any inquiry.</p>
                    <ul>
                        <li>Monday-Friday: 11:00 am - 8:00 pm</li>
                        <li>Saturday: 10:00 am - 6:00 pm</li>
                        <li>Sunday: 11:00 am - 6:00 pm</li>
                    </ul>
                </div>
            </div>


        </div>




    </div>

</footer>