<body>

     

    <div>
        <h2 style="text-align: center;margin-bottom: 40px;padding-top: 30px;">Application Status</h2>
        <div class="col-md-4 offset-md-4 active-cyan-3 active-cyan-4">
        

            <input style="margin-bottom: 20px;" type="text" [(ngModel)]="searchstatus"class="form-control " name="searchstatus" placeholder="Enter your Name">
            <!-- style="margin-left: 150px;margin-bottom: 30px;" -->
        
        </div>
        <div class="col-md-12">
           
        <table class="table table-bordered table-hover shadow w-100">
            <thead class="thead-dark">
          <tr>
            <th>ApplicationId</th>
            <th>CustomerName</th>
            <th>FormStatus</th>
            <th>Interview Date</th>
           
          </tr>
        </thead>  
        <tbody>
          <tr>
            <tr *ngFor ="let applicant of forminfo.customer | statuspipe:searchstatus">
                <td>{{applicant.appid}}</td>
                <td>{{applicant.customername}}</td>
                <td>{{applicant.formstatus}}</td>
                <td>{{applicant.interviewdate}}</td>
               

         
            <!-- <td><button type="button" class="btn btn-success" >Update</button></td> -->
    
    
    
    
          </tr>
        </tbody>  
        </table>
      </div>
    </div>





   












   
<footer class="footer" style="margin-top: 300px;">

    <div class="container">


        <div class="row">

            <div class="col-lg-3 col-md-3">

                <div class="footer_about">

                    <div class="footer_logo">

                        <img src="../assets/logo.png" alt="" height="150px">


                    </div>
                    <p style="color: rgb(255, 255, 255);">
                        Please remember though that how far you go is up to you. There is no substitute for your own
                        work and effort in succeeding in this business.</p>





                </div>








            </div>
            <div id="foo" class="col-lg-3 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer_widget">
                    <h5 style="color: rgb(255, 255, 255);">Services</h5>
                    <div class="footer_widget">
                        <ul>
                            <li>Personal Loans</li>
                            <li>Business Loans</li>
                            <li>Online Cash Loans</li>
                            <li>Cash Advance</li>
                        </ul>
                    </div>
                </div>
            </div>



            <div id="foo" class="col-lg-3 offset-lg-1 col-md-6 col-sm-6 ">
                <div class="footer_widget footer_widget-address">
                    <h5 style="color: rgb(255, 255, 255);">Open Hours</h5>
                    <p>We work all days a week, Please contact us for any inquiry.</p>
                    <ul>
                        <li>Monday-Friday: 11:00 am - 8:00 pm</li>
                        <li>Saturday: 10:00 am - 6:00 pm</li>
                        <li>Sunday: 11:00 am - 6:00 pm</li>
                    </ul>
                </div>
            </div>


        </div>




    </div>

</footer>


    
</body>



