<body>
    





    <h1 style="text-align: center;padding-top: 60px;">ADD LOAN PROGRAMS</h1>
    
    
    
    <div class="container">
      
        <div class="row">
            <div class="col-md-12">
               
                    <form [formGroup]='loanForm' (ngSubmit)='onSubmit()'>
                            <div class="col-md-12 offset-md-3">
                                <div class="alert alert-info col-md-6" role="alert" *ngIf='isAdded'>
                                    Loan Program Updated Successfully!!
                                 </div>
                                    <div class="form-group col-md-6" style="padding-left: 30px;">
                                        <label for="name ">Loantype</label>
                                        <input type="text" class="form-control" name="typeofloan" id="name"
                                            formControlName='typeofloan'>
                                            <div style="margin-top: 10px;"
                                            *ngIf="f.typeofloan.touched && f.typeofloan.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.typeofloan.errors.required">Loan Type is required.</div>
                                            <!-- <div *ngIf="f.typeofloan.errors.pattern">Numbers are not allowed.</div> -->
                                            <div *ngIf="f.typeofloan.errors?.minlength">
                                                Name must be at least 4 characters long.
                                            </div>
                                            <div *ngIf="f.typeofloan.errors?.maxlength">
                                                Name must be at most 25 characters long.
                                            </div>
                                        </div>
    
    
    
                                        <!-- <div style="color:red;"
                                            *ngIf="loanForm.get('typeofloan').touched && loanForm.get('typeofloan').dirty && loanForm.get('typeofloan').value.length < 4 ">
                                            Field is required </div> -->
                                    </div>
                                    <div class="form-group col-md-6" style="padding-left: 30px;">
                                        <label for="quantity">Loan Duration</label>
                                        <input type="number" class="form-control" name="duration"
                                            formControlName='duration' placeholder="Type duration In Years">
                                            <div style="margin-top: 10px;"
                                            *ngIf="f.duration.touched && f.duration.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.duration.errors.required">Loan Duration is required.</div>
                                            <div *ngIf="f.duration.errors.pattern">At most 3 digits are allowed.</div>
                                            <!-- <div *ngIf="f.annualincome.errors.pattern">Annucal Income is Invalid.</div> -->
    
                                            <!-- <div *ngIf="f.annualincome.errors.pattern">Please, Enter 10 digit Mobile
                                                Number.</div> -->
                                        </div>
                                        <!-- <div style="color:red;"*ngIf="loanForm.get('duration').touched && loanForm.get('duration').dirty && loanForm.get('duration').value.length ==''">
                                            Enter the duration.</div>
                                        <div style="color:red;"
                                            *ngIf="loanForm.get('duration').value.length > 10 ">Invalid duration</div> -->
                                    </div>
                                    <div class="form-group col-md-6" style="padding-left: 30px;">
                                        <label for="quantity">Loan Amount</label>
                                        <input type="number" class="form-control" name="details"
                                            formControlName='details'>
                                            <div style="margin-top: 10px;"
                                            *ngIf="f.details.touched && f.details.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.details.errors.required">Loan Amount is required.</div>
                                            <div *ngIf="f.details.errors.pattern">Loan Amount is Invalid.</div>
    
                                            <!-- <div *ngIf="f.annualincome.errors.pattern">Please, Enter 10 digit Mobile
                                                Number.</div> -->
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" style="padding-left: 30px;">
                                        <label for="quantity">Rate Of Interest</label>
                                        <input type="number" class="form-control" name="rateofinterest"
                                            formControlName='rateofinterest'>
                                            <div style="margin-top: 10px;"
                                            *ngIf="f.rateofinterest.touched && f.rateofinterest.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.rateofinterest.errors.required">Rate Of Interest is required.</div>
                                            <div *ngIf="f.rateofinterest.errors.pattern">Rate Of Interest is Invalid.</div>
    
                                        </div>
                                        </div>
                                        
                                          
                                <button  type="submit" class="btn btn-success" style="margin-left:30px;margin-bottom: 10px; padding: 15px;" [disabled]=!loanForm.valid >UPDATE</button>
    
    </div>
                    
    
                    </form>
            
            </div>
    
        </div>
    </div>
    
    
    
    
    
    <footer class="footer">
    
        <div class="container">
    
    
            <div class="row">
    
                <div class="col-lg-3 col-md-3">
    
                    <div class="footer_about">
    
                        <div class="footer_logo">
    
                            <img src="../assets/logo.png" alt="" height="150px">
    
    
                        </div>
                        <p style="color: rgb(255, 255, 255);">
                            Please remember though that how far you go is up to you. There is no substitute for your own
                            work and effort in succeeding in this business.</p>
    
    
    
    
    
                    </div>
    
    
    
    
    
    
    
    
                </div>
                <div id="foo" class="col-lg-3 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer_widget">
                        <h5 style="color: rgb(255, 255, 255);">Services</h5>
                        <div class="footer_widget">
                            <ul>
                                <li>Personal Loans</li>
                                <li>Business Loans</li>
                                <li>Online Cash Loans</li>
                                <li>Cash Advance</li>
                            </ul>
                        </div>
                    </div>
                </div>
    
    
    
                <div id="foo" class="col-lg-3 offset-lg-1 col-md-6 col-sm-6 ">
                    <div class="footer_widget footer_widget-address">
                        <h5 style="color: rgb(255, 255, 255);">Open Hours</h5>
                        <p>We work all days a week, Please contact us for any inquiry.</p>
                        <ul>
                            <li>Monday-Friday: 11:00 am - 8:00 pm</li>
                            <li>Saturday: 10:00 am - 6:00 pm</li>
                            <li>Sunday: 11:00 am - 6:00 pm</li>
                        </ul>
                    </div>
                </div>
    
    
            </div>
    
    
    
    
        </div>
    
    </footer>
    </body>
